<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testnewdemo">
    <!-- 网络状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Testnewdemo">
        <activity
            android:name=".opengl.demo1.OpenGlDemoActivity1"
            android:exported="false" />
        <activity
            android:name=".activity.OpenGlActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FileGiaoActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activity.ProgressActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SimpleChatActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" /> <!-- 监听网络状态 -->
        <!--
<receiver
            android:name=".broadcast.NetworkChangeReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGED" />
            </intent-filter>
        </receiver>
        -->
        <service android:name=".service.PhoneService" />
    </application>

</manifest>